<h3 class="news__subject">
  {{iteratedNews.subject | uppercase}}
</h3>

<main class="news__content">
  {{iteratedNews.content}}
</main>

<div class="news__author author">
  <div class="author__photo-cropper">
    <img src="{{iteratedNews.author.photo}}" alt="" class="author__photo">
  </div>

  <a [routerLink]="['/profile', iteratedNews.author.id]" routerLinkActive="author__name_active" class="author__name">
  	{{iteratedNews.author.first_name + ' ' + iteratedNews.author.second_name}}
  </a>
</div>
