.newslist-component {
  display: block;
}

.news-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.main-title {

}

.title-before-mews {

}

.news-list {
  list-style: none;
}

.news {
  display: block;
  padding-bottom: 10px;
  border: 1px solid deepskyblue;

  display: flex;
  flex-direction: column;
  align-items: left;

  padding: 5px;
}
