<main class="user-profile">
  <h3>{{ userNameFull }}</h3>

  <div class="user-profile__photo-wrapper">
    <img src="{{ userPhoto }}" alt="" class="user-profile__photo">
  </div>
</main>

<!--<div class="user-profile-wrapper" *ngIf="userPosts">-->
  <ul class="user__posts">
    <li class="user-post"
        [ngClass]="{'active': selectedItem == post}"
        *ngFor="let post of userPosts; let i = index" id="{{i}}">

      <div class="plain-post">
        <img src="{{ post.photo }}" alt="Here should be image">
        <h4 class="user-post__subject">{{ post.subject }}</h4>
        <main class="user-post__content">{{ post.content }}</main>
      </div>

      <div class="tags"></div>
    </li>
  </ul>
<!--</div>-->

<nav class="navigation">
  <ul>
    <li class="navigation-back">
      <button class="navigation-back-button btn btn-outline-secondary" (click)="gotoNewsList()">Back to news</button>
    </li>
  </ul>
</nav>
