<header class="navigation">
  <button clacc='logout-button' (click)='logOut()'>Log out</button>
</header>

<main class="user-profile">
  <h3>{{ userNameFull }}</h3>

  <div class="user-profile__photo-wrapper">
    <img src="{{ userPhoto }}" alt="" class="user-profile__photo">
  </div>
</main>

  <div class="user-profile-wrapper" *ngIf="userPosts">
    <ul class="user__posts" *ngFor="let post of userPosts">
      <li class="user-post">
        <h4 class="user-post__subject">{{ post.subject }}</h4>
        <main class="user-post__content">{{ post.content }}</main>

        <div class="d-flex w-100 justify-content-between">
          <button #addPost class="" (click)="editPost(post)">
            <i title="Edit" class="fas fa-edit" aria-hidden="true"></i>
          </button>
          <button #deletePost class="" (click)="deletePost(post)">
            <i title="Delete" class="fas fa-trash-alt" aria-hidden="true"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>

<nav class="navigation">
  <ul>
    <li class="navigation-back">
      <button class="navigation-back-button" (click)="gotoNewsList()">Back to news</button>
    </li>
  </ul>
</nav>

<div class="edit-posts-wrapper" *ngIf="isCurrnetUserLogged()">
  <app-update-posts-window></app-update-posts-window>
</div>

<div class="edit-profile-wrapper" *ngIf="isCurrnetUserLogged()">
  <app-edit-profile-window (userChanged)="handleUserChanged($event)"></app-edit-profile-window>
</div>
