<div class="container">
  <div class="row">
    <h1 class="main-title">
      {{ title }}
    </h1>
  </div>

  <div class="row">
    <h2 class="title-for-search">{{ titleForSearch }}</h2>

    <div class="row">
      <form name="searchForm">
        <label for="optionsSelect"> Filter by: </label>
        <p> {{selectedOption}} </p>
        <select id="optionsSelect" name="optionsToFilter" [(ngModel)]="selectedOption">
          <option *ngFor="let selectOption of selectOptions" value="{{selectOption.key}}">{{selectOption.value}}</option>
        </select>

        <input type="text" class="search-news-input" id="search-news" (input)="searchNews($event)" placeholder="search">
      </form>
    </div>
  </div>

  <div class="row">
    <h2 class="title-before-mews">{{ textBeforeNews }}</h2>
  </div>

  <div class="row">
    <ul class="news-list" *ngFor="let newsItem of getArray()">
      <li class="news">
        <h3 class="news__subject">
          {{newsItem.subject}}
        </h3>

        <main class="news__content">
          {{newsItem.content}}
        </main>

        <div class="news__author author">
          <div class="author__photo-cropper">
            <img src="{{newsItem.person.imageUrl}}" alt="" class="author__photo">
          </div>

          <p class="author__name">{{newsItem.person.fullName}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
