<main class="user-profile">
  <h3>{{ getUserName()}}</h3>

  <div class="user-profile__photo-wrapper">
    <img src="{{ getUserPhoto() }}" alt="" class="user-profile__photo">
  </div>
</main>

  <div class="user-profile-wrapper" *ngIf="getUserPosts()">

    <ul class="user__posts" *ngFor="let post of getUserPosts()">
      <li class="user-post">
        <h4 class="user-post__subject">{{ post.subject }}</h4>

        <main class="user-post__content">{{ post.content }}</main>
      </li>
    </ul>
  </div>

<nav class="navigation">
  <ul>
    <li class="navigation-back">
      <button class="navigation-back-button" (click)="gotoNewsList()">Back to news</button>
    </li>
  </ul>
</nav>

<app-edit-profile-window></app-edit-profile-window>
