<header class="navigation">
  <button clacc='logout-button' (click)='logOut()'>Log out</button>
</header>

<main class="user-profile">
  <h3>{{ userNameFull }}</h3>

  <div class="user-profile__photo-wrapper">
    <img src="{{ userPhoto }}" alt="" class="user-profile__photo">
  </div>
</main>

  <div class="user-profile-wrapper" *ngIf="userPosts">
    <ul class="user__posts" *ngFor="let post of userPosts">
      <li class="user-post">
        <h4 class="user-post__subject">{{ post.subject }}</h4>

        <main class="user-post__content">{{ post.content }}</main>
      </li>
    </ul>
  </div>

<nav class="navigation">
  <ul>
    <li class="navigation-back">
      <button class="navigation-back-button" (click)="gotoNewsList()">Back to news</button>
    </li>
  </ul>
</nav>

<div class="edit-wrapper" *ngIf="isCurrnetUserLogged()">
  <app-edit-profile-window (userChanged)="handleUserChanged($event)"></app-edit-profile-window>
</div>
