<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p class="edit-profile_first-name">First Name:
      <input type="text" [(ngModel)]="userDataCopy.first_name">
    </p>

    <p class="edit-profile_second-name">Second Name:
      <input type="text" [(ngModel)]="userDataCopy.second_name">
    </p>

    <p class="edit-profile_email">Email:
      <input type="email" [(ngModel)]="userDataCopy.email">
    </p>

    <p class="edit-profile_second-name">Photo:
      <app-file-uploader allowedTypes="image/*" (imageUploaded)="handleImageUploaded($event)"></app-file-uploader>
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="open(content)">Edit profile</button>

